<nav>
  <img class="test" src="tgbot_t.png" alt="">
  <span>telegram-bot</span>


  <div class='dropdown'>
    <div class='dropdown-title'> Посты <img src="menu.svg" alt=""> </div>
    <div class='dropdown-items'>
      <a class='dropdown-item' href="/add-post"> Добавить пост</a>
      <a class='dropdown-item' href="/post-list"> Список постов</a>
    </div>
  </div>

  <div class='dropdown'>
    <div class='dropdown-title'> Пользователи <img src="menu.svg" alt=""> </div>
    <div class='dropdown-items'>
      <a class='dropdown-item' href="/add-user"> Добавить пользователя</a>
      <a class='dropdown-item' href="/user-list">Список пользователей</a>
    </div>
  </div>

  {{!-- <div  class='time'>00:00:00</div> --}}
  </div>
</nav>


{{!-- 
<nav class="blue darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Tg-bot post controller</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if isIndex }}
        <li class="active"><a href="/">Add</a></li>
        {{else}}
        <li><a href="/">Add</a></li>
        {{/if}}

        {{#if isCreate }}
        <li class="active"><a href="/create">View</a></li>
        {{else}}
        <li><a href="/create">View</a></li>
        {{/if}}

      </ul>
    </div>
  </nav> --}}

{{!-- <script>
  setInterval(() => {
    let new_date = new Date().toJSON()
    $(".time").text(new_date.slice(0, 10) + ' ' + new_date.slice(11, 19))
  }, 1000);


</script> --}}

<script>

  $(".dropdown-item").on("click", () => {
    if($('.dropdown-item','.dropdown-title').length == 1) {
      
    }
  });

  $("#navbarDropdown-post").on("click", function () {
    $("#dropdown-menu-navbar-post").toggleClass("dropdown-menu-display");
  });

  $("#navbarDropdown-user").on("click", function () {
    $("#dropdown-menu-navbar-user").toggleClass("dropdown-menu-display");
  });

</script>