<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Tg-bot</a> 

  <img class="test" src="tgbot.png" alt="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

       <li class="nav-item dropdown">
        <div class="nav-link dropdown-toggle nav-link-navbar" id="navbarDropdown-post" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Посты
        </div>
        <div id="dropdown-menu-navbar-post" class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/add-post">Добавить пост</a>
          <a class="dropdown-item" href="/post-list">Список постов</a>
        </div>
      </li>

 
      <li class="nav-item dropdown">
        <div class="nav-link dropdown-toggle nav-link-navbar" id="navbarDropdown-user" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Пользователи
        </div>
        <div id="dropdown-menu-navbar-user" class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/add-user">Добавить пользователя</a>
          <a class="dropdown-item" href="/user-list">Список пользователей</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


{{!-- 
<nav class="blue darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Tg-bot post controller</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if isIndex }}
        <li class="active"><a href="/">Add</a></li>
        {{else}}
        <li><a href="/">Add</a></li>
        {{/if}}

        {{#if isCreate }}
        <li class="active"><a href="/create">View</a></li>
        {{else}}
        <li><a href="/create">View</a></li>
        {{/if}}

      </ul>
    </div>
  </nav> --}}

  <script>

    $("#navbarDropdown-post").on("click", function () {
      $("#dropdown-menu-navbar-post").toggleClass("dropdown-menu-display");
    });

    $("#navbarDropdown-user").on("click", function () {
      $("#dropdown-menu-navbar-user").toggleClass("dropdown-menu-display");
    });

  </script>