<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Tg-bot</a> 

  <img class="test" src="tgbot.png" alt="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{#if isIndex}}
        <li class="nav-item active">
          <a class="nav-link" href="/">View <span class="sr-only">(current)</span></a>
        </li>
      {{else}}
        <li class="nav-item ">
          <a class="nav-link" href="/">View <span class="sr-only">(current)</span></a>
        </li>
      {{/if}}
      {{#if isCreate}}
        <li class="nav-item active">
          <a class="nav-link" href="/add">Add <span class="sr-only">(current)</span></a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/add">Add <span class="sr-only">(current)</span></a>
        </li>
      {{/if}} 
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


{{!-- 
<nav class="blue darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Tg-bot post controller</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if isIndex }}
        <li class="active"><a href="/">Add</a></li>
        {{else}}
        <li><a href="/">Add</a></li>
        {{/if}}

        {{#if isCreate }}
        <li class="active"><a href="/create">View</a></li>
        {{else}}
        <li><a href="/create">View</a></li>
        {{/if}}

      </ul>
    </div>
  </nav> --}}