<div class="add-post">

  <form class='add-post_form' action="/add-post" method="POST">
    <textarea name="post" class="form-control" id="exampleFormControlTextarea3" placeholder="Введите новый пост..."
      required></textarea>
    <div class="interact">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div id="button-select-id" class="btn btn-outline-secondary dropdown-toggle" type="input"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+
            <div id="dropdown-show-id" class="dropdown-menu">
              {{#if users.length}}
              {{#each users}}
              <a class="dropdown-item">{{user_name}}</a>
              {{/each}}
              {{/if}}
            </div>
          </div>

        </div>
        <input name='names' id='tg-id' type="text" class="form-control" aria-label="Text input with dropdown button">
      </div>
      


      {{!-- <input autocomplete="off" name="id" id='tg-id' class="form-control" type="text" placeholder="ID" required> --}}
      <div id="dropdown-show-id" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {{#if users.length}}
        {{#each users}}
        <a class="dropdown-item">{{user_name}}</a>
        {{/each}}
        {{/if}}
      </div>


      <input name="date_start" id="date_start" type="datetime-local" class="form-control" required>
      <input name="date_end" id="date_end" type="datetime-local" class="form-control" required>

      <div class="add-rate">
        <div class="dropdown show">
          <div class="btn btn-secondary dropdown-toggle" type="input" id="button-select-rate" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span> день </span>
            <div id="dropdown-show-rate" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item">год</a>
              <a class="dropdown-item">месяц</a>
              <a class="dropdown-item">неделя</a>
              <a class="dropdown-item">день</a>
              <a class="dropdown-item">час</a>
              <a class="dropdown-item">минута</a>
              <a class="dropdown-item">секунда</a>

            </div>
          </div>

        </div>
        <input id="num_rate" name="num_rate" class="form-control" type="text" placeholder="частота" required>

      </div>

      <button id='sendButton' class="btn btn-primary create-post_btn" type="submit">Create</button>
    </div>

    <input type="hidden" value="" name="date_start_y" id="date_start_y">
    <input type="hidden" value="" name="date_start_m" id="date_start_m">
    <input type="hidden" value="" name="date_start_d" id="date_start_d">
    <input type="hidden" value="" name="date_start_h" id="date_start_h">
    <input type="hidden" value="" name="date_start_mt" id="date_start_mt">

    <input type="hidden" value="" name="date_end_y" id="date_end_y">
    <input type="hidden" value="" name="date_end_m" id="date_end_m">
    <input type="hidden" value="" name="date_end_d" id="date_end_d">
    <input type="hidden" value="" name="date_end_h" id="date_end_h">
    <input type="hidden" value="" name="date_end_mt" id="date_end_mt">

    <input type="hidden" value="" name="time_rate" id="time_rate">

  </form>

</div>




<script>

  $(function () {




    $("#dropdown-show-id a").on("click", function () {
      $("#tg-id").val($("#tg-id").val() + $(this).text() + "; ");
    });

    $('#sendButton').on("click", () => {
      $('#date_start_y').val($('#date_start').val().slice(0, 4));
      $('#date_start_m').val($('#date_start').val().slice(5, 7));
      $('#date_start_d').val($('#date_start').val().slice(8, 10));
      $('#date_start_h').val($('#date_start').val().slice(11, 13));
      $('#date_start_mt').val($('#date_start').val().slice(14, 16));

      $('#date_end_y').val($('#date_end').val().slice(0, 4));
      $('#date_end_m').val($('#date_end').val().slice(5, 7));
      $('#date_end_d').val($('#date_end').val().slice(8, 10));
      $('#date_end_h').val($('#date_end').val().slice(11, 13));
      $('#date_end_mt').val($('#date_end').val().slice(14, 16));

      $('#time_rate').val($('#button-select-rate span').text());

      console.log($('#date_start_y').val());
    });


    $("#dropdown-show-rate a").on("click", function () {
      $("#button-select-rate span").text($(this).text());
    });



  });

</script>