.add-user {
  width: 100%;
  height: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

h2 {
  color: #232323;

}

.add-user > .add-user_form {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 40%;
  height: 40%;
  background-color: rgb(250, 250, 250);
  padding: 10px;
  border-radius: 10px;
}

.add-user > .add-user_form > #exampleFormControlTextarea3 {
  resize: none;
  background-color: #fff;
  height: 90%;
  width: 60%;

}


.add-user > .add-user_form > .interact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 80%;
}



.add-user > .add-user_form > .interact > button { 
  width: 100%;

}
