body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgb(230, 230, 230);
}

/* @import url("/public/navbar.css");

@import url("/public/index.css");

@import url("/public/add.css"); */

