.user-list {
  margin: 10px;
  width: 100%;
  overflow-y: auto;
}

.user-list > .user {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgb(252, 252, 252);
  margin: 10px;
  border-radius: 5px;
  border: solid 1px rgb(0, 0, 0, 0.1);
  padding: 5px;
  width: 90%;
}

.user-list > .user > .user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 70%;
  
}

.user-list > .user > .user-info > span {
  font-size: 18px;
  color: #548cd6;
  font-weight: 500;
}

.user-list > .user > .user-info > p {
  color: #696969;

}

.index > .user > .user-info > .dates {
  font-size: 12px;
}